.accordion-button
  position: relative
  padding: 20px 0
  cursor: pointer
  background: $graySelect
  display: flex
  box-shadow: 0 6px 6px 0 rgba(13, 1, 1, 0.2)
  &:nth-child(n+2)
    margin-top: -1px
  p
    width: 30%
    font-size: 14px
    padding-left: 10px
    text-transform: uppercase
    font-weight: 600
    letter-spacing: 0.5px
  .svg-slid
    // padding-left: 50%
    // max-width: 60%
    // position: relative
    // display: inline-block
    // +breakpoint(medium only)
    //   padding-left: 20%
    position: absolute
    width: 30%
    right: 0

  span
    font-size: 14px
    color: $black
    font-weight: 600
    +bold

  svg
  &.opened
    border-bottom: 0
    svg
      +rotate(-180deg)


.accordion-inner
  overflow: hidden
  display: none
  +translate(0,0)
  border: 1px solid $graySelect
  padding: 0px 10px 10px
  background-color: white
  box-shadow: 0 6px 6px 0 rgba(13, 1, 1, 0.2)
  span
    font-size: 14px

  p
    width: 700px
    max-width: 90%
  ul, ol
    margin: 20px 0
    li
      font-size: 14px
      color: $grey600
      line-height: 2.3
      margin: 0px 0
  ol
    counter-reset: count-list
    li
      counter-increment: count-list
      &:before
        content: counter(count-list) '.'
        margin-right: 10px
    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 40px
      height: 1px
      margin-right: 10px
      background: $brown300
  &.show
    display: block !important
.remove-all
  cursor: pointer
  display: flex
  flex-wrap: nowrap
  padding-left: 25%
  border-top: 1px solid $almostWhite
  opacity: 1
  .x-component
    padding: 20px 0px 20px
    svg
      height: 15px
  .ramove-text
    padding: 20px 0px 20px
    font-size: 17px
    font-variant: 600
    color: $blue
    padding-left: 10px
  &:hover
    opacity: 0.6
    .ramove-text
