.accordion-button
  position: relative
  padding: 20px 0
  cursor: pointer
  background: $graySelect
  display: flex
  &:nth-child(n+2)
    margin-top: -1px
  p
    font-size: 14px
    padding-left: 10px
    text-transform: uppercase
    font-weight: 600
    letter-spacing: 0.5px
  .svg-slid
    padding-left: 60%
    max-width: 60%
    position: relative
    display: inline-block

  span
    font-size: 14px
    color: $black
    font-weight: 600
    +bold

  svg
  &.opened
    border-bottom: 0
    svg
      +rotate(-180deg)


.accordion-inner
  overflow: hidden
  display: none
  +translate(0,0)
  border: 1px solid $graySelect
  padding: 0px 10px 10px
  p
    width: 700px
    max-width: 90%
  ul, ol
    margin: 20px 0
    li
      font-size: 14px
      color: $grey600
      line-height: 1.5
      margin: 10px 0
  ol
    counter-reset: count-list
    li
      counter-increment: count-list
      &:before
        content: counter(count-list) '.'
        margin-right: 10px
    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      width: 40px
      height: 1px
      margin-right: 10px
      background: $brown300
  &.show
    display: block !important
