// .header-container
//   position: fixed
//   padding: 16px 30px
//   width: 100%
//   background: transparent
//   display: -webkit-flex
//   display: -moz-flex
//   display: -ms-flex
//   display: -o-flex
//   display: flex
//   justify-content: space-between
//   +transition-property(transform)
//   +transition-duration(1s)
//   +translate(0,-100%)
//   z-index: 11
//   &.scrolled, &.visible
//     +translate(0,0)
//   @media #{$small-only}
//   @media #{$xxlarge-up}
//   .logo
//     width: 70px
//     line-height: 1
//     svg
//       width: 100%
//       path
//         +transition(0.5s)
//       path.heart
//         transform-origin: center
//         fill: $pink600
//       path.outline
//         fill: white
//     &:hover
//       svg
//         path.heart
//           animation: heartbeat 1s infinite
//     @media #{$small-only}
//       width: 50px
//   .logo, .right-part
//     align-self: center
//   .right-part
//     margin-left: auto
//     .small
//       @extend %istok
//       color: $brown800
//       text-transform: uppercase
//       letter-spacing: 2px
//       padding: 20px
//       +transition(0.5s)
//       @media #{$small-only}
//         display: none
//       &:hover
//         color: $pink600

//   //     H a m b u r g e r

//   .hamburger
//     margin-left: 4em
//     .hamburger-box
//       width: 32px
//       cursor: pointer

//     .hamburger-inner
//       width: 100%
//       border-radius: 0
//       height: 2px
//       background: $brown800
//       &:before, &:after
//         width: 100%
//         background: $brown800
//         height: 2px
//         border-radius: 0

//     @media #{$large-up}
//       &.is-active
//         .hamburger-inner
//           background: white
//           &:before, &:after
//             background: white
//         &:hover
//           .hamburger-inner
//             background: $pink600
//             &:before, &:after
//               background: $pink600
#primary_nav_wrap
  margin-top: 15px
  z-index: 11
  ul
    list-style: none
    position: relative
    float: left
    margin: 0
    padding: 0
    a
      display: block
      color: #333
      text-decoration: none
      font-weight: 700
      font-size: 12px
      line-height: 60px
      padding: 0 15px
    li
      position: relative
      float: left
      margin: 0
      padding: 0
      &::before
          display: none

    ul
      display: none
      position: absolute
      top: 100%
      left: 0
      padding: 0
      li
        float: none
        width: 320px
      a
        color: $white
        font-weight: 600
        line-height: 100%
        padding: 10px 15px
        font-size: 17px
      ul
        top: 0
        left: 100%
    li:hover > ul
      display: block
  .tape-text
    font-size: 13px
    padding: 15px
    background-color: $black
    color: $gray
  .top-menu1
    top: -120%
    background: $menu
    border-right: 1px solid $almostWhite
    p
      color: $gray
      background-color: $menu
      font-size: 13px
      padding: 15px
      border-bottom: 1px solid  $almostWhite
    a
      padding: 15px 25px
    &.top-menu2
      top: -220%
    &.top-menu3
      top: -268%
    &.top-menu4
      top: -370%
    &.top-menu5
      top: -473%
    &.top-menu6
      top: -575%
    &.top-menu7
      top: -678
    .menu-tab3
      top: -117%
      padding-bottom: 40px
      background-color: white
      width: 600px
      .img-bg
        // position: absolute
        // padding-right: 100%
        background-size: auto
        margin-top: 200px
        margin-left: 160px
      p
        background-color: white
      a
        font-size: 13px
        padding: 15px 25px
        color: $black
        &:hover
          text-decoration: underline
      &.tab3-top2
        top: -217%
      &.tab3-top3
        top: -317%
      &.tab3-top4
        top: -417%
      &.tab3-top5
        top: -517%
      &.tab3-top6
        top: -617%
      &.tab3-top7
        top: -717%


  .target-list2
    color: $black
    font-size: 13px
    background: $menu
    &:after
      content: ">"
      position: absolute
      font-size: 13px
      color: $gray
      right: 20px
    &:hover
      background-color: $yellow
      color: $black
  .targer-first
    color: $white
    background: $black
    border-top: 1px solid  black
    &:before
      content: ""
      position: absolute
      width: 5px
      height: 99%
      top: 0
      left: 0
      background-color: $yellow
      border-top: 1px solid  black
    &:after
      // content: "url(photo/main/svg/slider-arrow-right.svg)"
      content: ">"
      position: absolute
      font-size: 20px
      color: $gray
      right: 20px
    &:hover
      background-color: $yellow
      color: $black
