.header-container
  position: fixed
  width: 100%
  z-index: 100
  +translate(0,-200%)
  +transition(.5s)
  &.scrolled, &.visible
    +translate(0,0)
    .heder-menu
      +translate(0,0)
  .heder-content-bg
    @media screen and (max-width: 1025px)
      display: none
  .heder-content.smole
    display: none
    @media screen and (max-width: 1025px)
      display: flex

.heder-menu
  +translate(0,-100%)
  +transition(1s)
  position: fixed
  width: 100%
  bottom: -70px
  z-index: -1
  background-color: white
  &:after
    content: ""
    position: absolute
    top: 65px
    width: 100%
    height: 5px
    z-index: 1
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05)


  /** page structure *


  .title
    padding: 20px
    font-size: 12px
    color: $title
    letter-spacing: 1px
    border-bottom: 1px solid black
  .title2
    font-weight: 600
    padding: 20px
    font-size: 12px
    color: $title
    letter-spacing: 1px
    border-bottom: 1px solid $almostWhite

  #menu
    display: block
    .second-performance
      height: 647px
      overflow-y: auto
      &::-webkit-scrollbar-track
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2)
        // border-radius: 10px
        background-color: #F5F5F5
      &::-webkit-scrollbar
        width: 6px
        background-color: #F5F5F5
      &::-webkit-scrollbar-thumb
        border-radius: 10px
        // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
        background-color: $yellow
      &.blue
        &::-webkit-scrollbar-thumb
          background-color: $blue
      &.green
        &::-webkit-scrollbar-thumb
          background-color: $green

    li
      font-weight: 600
      float: left
      letter-spacing: 1px
      margin-left: 0px
      &:before
        display: none
      a
        text-transform: uppercase
        z-index: 2
        display: block
        position: relative
        padding: 0 35px
        font-size: 15px
        letter-spacing: 0.3px
        line-height: 70px
        // font-weight: bold
        text-decoration: none
        background-color: $almostRed
        color: $black
        &:hover, &.active
        &.yellow
          background-color: $yellow

        &.blue
          background-color: $blue
        &.green
          background-color: $green
        &.red
          background-color: $red
        &.orange
          background-color: $orange
      ul
        display: none
        position: absolute
        top: 70px
        width: 300px
        background: $black
        z-index: -1
        -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.45)
        -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.45)
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.45)
        // padding-bottom: 100px
        &.bige
          height: 710px
        li
          display: block
          width: 300px
          a
            width: 300px
            display: block
            float: none
            font-size: 15px
            line-height: 40px
            padding: 0 15px
            color: white
            background-color: $black
            border-bottom: 1px solid black
            letter-spacing: 1px
            text-transform: uppercase
            &:before
              content: ""
              position: absolute
              width: 5px
              height: 100%
              top: 0
              left: 0
              background-color: $yellow
            svg
              fill: white
              width: 20px
              height: 20px
              +y-align
              right: 10px
            &:hover,&.active
              background: $yellow
              color: $black
        &.blue
          li
            a
              &:before
                background-color: $blue
        &.green
          li
            a
              &:before
                background-color: $green
        &.redb
          li
            a
              &:before
                background-color: $red
        &.orangb
          li
            a
              &:before
                background-color: $orange
        .img-bg
          width: 500px
          height: 500px
          bottom: 0
          background-size: contain
          left: initial
          top: initial
          z-index: 1
          background-position: bottom
        &.expanded
          width: 300px
          li
            margin-right: 200px
        li
          ul
            display: none
            position: absolute
            left: 300px
            top: 0
            height: 100%
            background: none
            -webkit-box-shadow: none
            -moz-box-shadow: none
            box-shadow: none
            background-color: $menu
            border-bottom: 10px solid $black
            li a
              border-bottom: 0px solid
              background-color: $menu
              color: $verBlack
              font-size: 14px
              font-weight: 400
              font-family: OpenSans
              text-transform: none
              &:before
                display: none
            &.expanded
              width: 300px
              li
                margin-right: 200px
            li
              ul
                display: none
                position: absolute
                left: 300px
                top: 0
                width: 600px
                height: 101.4%
                background: none
                -webkit-box-shadow: none
                -moz-box-shadow: none
                box-shadow: none
                background-color: white
                border-left: 1px solid $almostWhite
                border-bottom: 10px solid $black
                li a
                  background-color: white
                  color: $verBlack
                  &:hover,&.active
                    text-decoration: underline
                    background-color: white
                    text-transform: lowercase
                    font-weight: 400
                    font-family: OpenSans
                    font-size: 14px
                    text-transform: none


          &.purple
            a
              &:hover, &.active
                background: $blue
                color: $black
            ul
              background: $menu
              a
                color: $verBlack
                &:hover,&.active
                  text-decoration: underline
                  background-color: $menu

          &.green2
            a
              &:hover, &.active
                background: $green
                color: $black
            ul
              background: $menu
              a
                color: $verBlack
                &:hover,&.active
                  text-decoration: underline
                  background-color: $menu
          &.aqua
            a
              &:hover, &.active
                background: $red
                color: $black
            ul
              background: $menu
              a
                color: $menu
          &.orange2
            a
              &:hover, &.active
                background: $orange
                color: $menu
            ul
              background: $menu
          &.blue
            a
              &:hover, &.active
                background: #4d6899
                color: #fff
            ul
              background: #4d6899
          &.gold
            a
              &:hover, &.active
                background: #97944c
                color: #fff
            ul
              background: #97944c

    /** clearfix *

  .clearfix
    &:after
      content: "."
      display: block
      clear: both
      visibility: hidden
      line-height: 0
      height: 0

.heder-content
  background-color: $black
  display: flex
  justify-content: center
  align-items: center
  color: $white
  height: 100%
  padding: 50px 0
  z-index: 100

  .heder-logo
    position: absolute
    left: 0
    svg
      cursor: pointer
      height: 60px
      padding: 0 50px
      +breakpoint(small only)
        height: 35px
        padding: 0 25px
  .tex-heder
    position: absolute
    right: 50px
    display: flex
    align-items: center
    +breakpoint(small only)
      right: 5px
    .one-text
      font-size: 14px
      cursor: pointer
      padding: 0 15px
      +breakpoint(small only)
        display: none
      &:hover
        color: $yellow
    .btn-big-heder
      display: inline-block
      cursor: pointer
      text-transform: uppercase
      font-weight: 700
      padding: 0px 60px
      font-size: 14px
      letter-spacing: .25em
      color: $yellow
      background-color: $black
      text-align: center
      line-height: 50px
      border-radius: 50px
      border: 2px solid $yellow
      +transition(.3s)
      &:hover
        background-color: $yellow
        color: $black
        box-shadow: 0 0 15px rgba(0,0,0,0.5)
    .language-box
      // float: right
      font-size: 14px
      font-weight: 600
      position: relative
      cursor: pointer
      text-transform: uppercase
      svg
        fill: $gray
        margin-left: 10px
        vertical-align: middle
        +transition(.3s)
      // path
      // fill: rgba(white, 0.3)
      .language-one
        font-weight: 600
        color: $black
        cursor: pointer
        height: 100%
        display: inline-block
      .hover-block
        position: absolute
        width: 100%
        opacity: 0
        left: 0
        // top: 55px
        pointer-events: none
        background-color: $black
        +transition(.3s)
        // border-bottom: 3px solid red
      .language-one
        color: white
        // border-bottom: 1px solid red
        display: block
        padding: 10px 20px
        text-align: center
        &:last-child
          // border-bottom: 1px solid transparent
        &:hover
          color: $yellow
      &:hover
        svg
          +rotate(180deg)
        .hover-block
          opacity: 1
          pointer-events: initial


  #menuToggle
    input
      display: block
      width: 40px
      height: 32px
      position: absolute
      top: -7px
      left: -5px
      cursor: pointer
      opacity: 0
      z-index: 2
      -webkit-touch-callout: none
      cursor: pointer
    span
      display: block
      width: 33px
      height: 4px
      margin-bottom: 5px
      position: relative
      background: #cdcdcd
      border-radius: 3px
      z-index: 1
      transform-origin: 4px 0px



.heder-content
.manu-container
  position: fixed
  transform: translate(200%, 0)
  z-index: 99
  width: 50%
  right: 0
  top: 98px
  min-height: 100vh
  overflow: hidden
  pointer-events: none
  -webkit-transition: 0.3s
  -o-transition: 0.3s
  transition: .7s
  +breakpoint(small only)
    width: 100%
  .general-part
    .manu-nav
      margin-left: 0
      .tex-heder
        background-color: $black
        display: flex
        flex-direction: column
        color: $almostWhite
        padding: 20px 0
        .one-text
          padding: 20px 0 20px 25px
          cursor: pointer
          font-size: 16px
          text-transform: uppercase
          font-weight: 500
      .classification, .classification-top
        margin-left: 0px
        padding: 20px 0
        background-color: $almostRed
        display: flex
        align-items: center
        font-size: 16px
        text-transform: uppercase
        font-weight: 500
        &.yellow
          background-color: $yellow
        &.blue
          background-color: $blue
        &.green
          background-color: $green
        &.red
          background-color: $red
        &.orange
          background-color: $orange
        a
          width: 60%
          padding-left: 25px
        .arow-boxs
          margin-left: 30%
        &.classification-top
          padding: 25px 0
.manu-container-second
  position: absolute
  top: 63px
  transform: translate(200%, 0)
  z-index: 99
  width: 100%
  min-height: 100vh
  overflow: hidden
  pointer-events: none
  -webkit-transition: 0.3s
  -o-transition: 0.3s
  transition: .7s
  background: $black
  text-align: left
  line-height: 30px
  .general-part
    .manu-nav
      .classification-second
        // text-transform: capitalize
        margin-left: 0px
        padding: 20px 0
        border-top: 1px solid black
        background-color: $black
        color: white
        // text-transform: uppercase
        font-size: 14px
        font-weight: bold
        letter-spacing: 1.4px

.manu-container-third
  position: absolute
  top: 0
  transform: translate(200%, 0)
  z-index: 99
  width: 100%
  min-height: 100vh
  overflow: hidden
  pointer-events: none
  -webkit-transition: 0.3s
  -o-transition: 0.3s
  transition: .7s
  background: $menu
  text-align: left
  .general-part
    .manu-nav
      .classification-third, .classification-third-end
        font-family : Open Sans
        text-transform: capitalize
        margin-left: 0px
        padding: 20px 0
        border-top: 1px solid #e7ebed
        background: $menu
        text-transform: uppercase
        font-size: 14px
        color: $black
        line-height : 40px
        letter-spacing : 0.42px
.manu-container-fourth
  position: absolute
  top: 0
  transform: translate(200%, 0)
  z-index: 99
  width: 100%
  min-height: 100vh
  overflow: hidden
  pointer-events: none
  -webkit-transition: 0.3s
  -o-transition: 0.3s
  transition: .7s
  background: white
  .general-part
    .manu-nav
      .classification-fourth
        margin-left: 0px
        padding: 20px 0
        border-top: 1px solid #e7ebed
        background-color: white
        text-transform: uppercase
        font-size: 14px
        color: $black
        font-family : Open Sans
        letter-spacing : 0.42px
.step-back
  background-color: $black
  display: flex
  align-items: center
  border: 1px solid black
  height: 68px
  p
    font-weight: 600
    font-size: 18px
    color: $almostWhite
    padding-left: 80px
  .arow
    position: absolute
    transform: translate(200%, 0)
    overflow: hidden
    pointer-events: none
    -webkit-transition: 0.3s
    -o-transition: 0.3s
    transition: .7s
    opacity: 0
    svg
      height: 60px
      background: $yellow
      padding: 23px
  .arowthird
    position: absolute
    transform: translate(200%, 0)
    overflow: hidden
    pointer-events: none
    -webkit-transition: 0.3s
    -o-transition: 0.3s
    transition: .7s
    opacity: 0
    svg
      height: 64px
      background: $black
      padding: 23px
      g
        g
          polygon
            fill: white
  .arowtfourth
    position: absolute
    transform: translate(200%, 0)
    overflow: hidden
    pointer-events: none
    -webkit-transition: 0.3s
    -o-transition: 0.3s
    transition: .7s
    opacity: 0
    svg
      height: 64px
      background: $gray
      padding: 23px

  .visible
    transform: translate(0, 0)
    pointer-events: initial
    opacity: 1


.opened
  transform: translate(0, 0)
  pointer-events: initial


.font
  // position: fixed
  // top: 0
  // right: 0
  // left: 0
  // height: 0
  opacity: 0.6
  -webkit-transition: opacity 2s
  transition: opacity 2s



/// menu opened body
.menuopen
  overflow: hidden
  position: relative
  height: 100%
  background-color: $black



/// gamburger
#nav-icon
  width: 60px
  height: 30px
  position: relative
  margin: 50px auto
  -webkit-transform: rotate(0deg)
  -moz-transform: rotate(0deg)
  -o-transform: rotate(0deg)
  transform: rotate(0deg)
  -webkit-transition: .5s ease-in-out
  -moz-transition: .5s ease-in-out
  -o-transition: .5s ease-in-out
  transition: .5s ease-in-out
  cursor: pointer
  span
    display: block
    position: absolute
    height: 3px
    width: 30%
    background: white
    opacity: 1
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: .25s ease-in-out
    -moz-transition: .25s ease-in-out
    -o-transition: .25s ease-in-out
    transition: .25s ease-in-out
    &:nth-child(even)
      left: 30%
      border-radius: 0 9px 9px 0
    &:nth-child(odd)
      left: 0px
      border-radius: 9px 0 0 9px
    &:nth-child(1), &:nth-child(2)
      top: 0px
    &:nth-child(3), &:nth-child(4)
      top: 13px
    &:nth-child(5), &:nth-child(6)
      top: 25px
  &.open span
    &:nth-child(1), &:nth-child(6)
      -webkit-transform: rotate(45deg)
      -moz-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      transform: rotate(45deg)
    &:nth-child(2), &:nth-child(5)
      -webkit-transform: rotate(-45deg)
      -moz-transform: rotate(-45deg)
      -o-transform: rotate(-45deg)
      transform: rotate(-45deg)
    &:nth-child(1)
      left: 11px
      top: 7px
    &:nth-child(2)
      left: calc(50% - 5px)
      top: 7px
    &:nth-child(3)
      left: -50%
      opacity: 0
    &:nth-child(4)
      left: 100%
      opacity: 0
    &:nth-child(5)
      left: 11px
      top: 20px
    &:nth-child(6)
      left: calc(50% - 5px)
      top: 20px
