p
  font-size: 16px
  font-family: "Montserrat", sans-serif
  font-weight: 100
  word-spacing: .2em
  line-height: 1.5

.title-section
  display: block
  &.blue-line

.color-line
  position: relative
  // padding-bottom: 100%
  &:before
      content: ""
      position: absolute
      left: 0
      right: 0
      bottom: -5px
      height: 5px
      background-color: $red
  &.yellow-block
    &:before
      background-color: $yellow
  &.blue-block
    &:before
      background-color: $blue
  &.gray-block
    &:before
      background-color: $goodsgrayeband
  &.green-block
    &:before
      background-color: $green
  &.red-block
    &:before
      background-color: $red
  &.orange-block
    &:before
      background-color: $orange


.top-nav
  display: inline-block
  cursor: pointer
  text-transform: uppercase
  font-weight: 700
  padding: 3px 60px
  font-size: 14px
  letter-spacing: .25em
  color: $white
  background-color: $almostRed
  text-align: center
  line-height: 50px
  li
    background-color: red
  &.blue-nav
    background-color: $blue
  &.yellow-nav
    background-color: $yellow
  &.green-nav
    background-color: $green
  &.red-nav
    background-color: $red
  &.orange-nav
    background-color: $orange

.btn-big
  display: inline-block
  cursor: pointer
  position: relative
  text-transform: uppercase
  font-weight: 700
  padding: 3px 60px
  font-size: 14px
  letter-spacing: .25em
  color: $white
  background-color: $black
  text-align: center
  line-height: 50px
  border-radius: 50px
  +transition(.7s)
  &:disabled
    background-color: #303a43
  &:hover
    box-shadow: 0px 7px 7px rgba(48, 58, 67, 0.2)
    background-color: $verBlack
  &:visited
    background-color: $verBlack
  &.blue-btn
    color: $white
    background-color: $blue
    &:visited
      background-color: $verBlue
    &:hover
      box-shadow: 0px 7px 7px rgba(36, 187, 234, 0.3)
      background-color: $verBlue
  &.yellow-btn
    color: $black
    background-color: $yellow
    &:visited
      background-color: $verOrange
    &:hover
      background-color: $verOrange
      box-shadow: 0px 7px 7px rgba(255, 224, 0, 0.2)
  &.green-btn
    color: $black
    background-color: $green
    &:visited
      background-color: $goodsgrayeband
  &.red-btn
    color: $black
    background-color: $red
    &:visited
      background-color: $red
  &.orange-btn
    color: $black
    background-color: $orange
    &:visited
      background-color: $orange
ul
  list-style-type: disc
  li

    margin-left: 20px
    &:before
      content: ""
      position: absolute
      left: -10px
      top: 6px
      width: 4px
      height: 4px
      border-radius: 50%
      background-color: $gray
