
.mainlidet
  padding: 200px 0 100px
  position: relative
  +breakpoint(small only)
    ul
      li
        margin-left: 0px
  .mainlidet
  // +breakpoint(small only)
  //   padding: 0px
  //   height: initial
  @media screen and (max-width: 1025px)
    padding: 130px 0px 70px 0px
  +breakpoint(small only)
    padding: 0px
    height: initial
    padding: 130px 0px 50px 0px
  .border-producers
    .one-new-producers
      border: 1px solid $almostWhite
      position: relative
      padding-bottom: 100%
      cursor: pointer
      .img-bg
        background-size: contain
        left: 10px
        right: 10px
  li
    height: 60vh
    position: relative
    +breakpoint(small only)
      height: 85vh
    &.slider
      height: 100%
    &::before
      display: none
  .next-btn, .prev-btn
    height: 80px
    width: 80px
    background-color: $black
    z-index: 10
    +y-align
    +breakpoint(small only)
      display: none
  .prev-btn
    left: 20px
  .next-btn
    right: 20px
  .content-baner
    +y-align
    left: 100px
    +breakpoint(small only)
      left: auto
      text-align: center
  .tex-baner
    z-index: 2
    h4
      font-size: 45px
      text-transform: uppercase
      padding-bottom: 45px
      letter-spacing: 3px
      +breakpoint(small only)
        padding-bottom: 170px
      br
        padding: 10px
    p
      font-size: 22px
      padding-bottom: 25px
  &.goode1
    padding: 0 20px 20px
    margin-left: -50px
    li
      cursor: pointer
      height: 40vh
    .next-btn, .prev-btn
      height: 40px
      width: 40px
      top: 0
    .prev-btn
      left: 90%
      // +breakpoint(medium doun)
      //   left: 85%
    .next-btn
  &.goode2
    // check later on something
    display: none
    padding: 20px 0
    li
      cursor: pointer
    .next-btn2, .prev-btn2
      height: 80px
      width: 80px
      background-color: $black
      z-index: 10
      +y-align
    .prev-btn2
      left: 20px
    .next-btn2
      right: 20px
    .slick-dots
      display: flex
      margin: 0
      padding: 1rem 0
      position: absolute
      right: 0
      top: -70px
      align-items: center

      li
        height: 2vh
        display: inline-block
        margin: 0 12px
      button
        display: block
        width: 15px
        height: 15px
        padding: 0
        border: none
        background-color: $black
        text-indent: -999999px
        +breakpoint(small only)
          width: 10px
          height: 10px
      li.slick-active button
        width: 10px
        height: 10px
        +breakpoint(small only)
          width: 7px
          height: 7px
      .slick-active
        padding-top: 2px

  &.advertising
    +breakpoint(small only)
      display: none
    // padding: 0
    padding-top: 50px
    ul
      li
        margin-left: 0px

// .mainlidet-small
//   // &.mobile
//   //   +breakpoint(small only)
//   //     padding-top: 100px
//   .content-baner
//     left: 0
//     text-align: center
//     padding-top: 20px
//     // top: 200px
//     +x-align
//   +breakpoint(small only)
//     .content-baner
//       top: 50px
//       h4
//         font-size: 30px


////// onegoodsslider
.slider-onegoods
  @media #{$small-only}
    padding-bottom: 20px
  .slick-dots
    display: none
  .slider-for2
    // height: 300px
    .slick-track
      height: 500px
      iframe
        height: 500px
        width: 100%
  .slider-nav2
    padding-top: 25px
    width: 60%
    margin: auto
    +breakpoint(medium doun)
      width: 100%
    .slick-slide
      height: 50px
      position: relative
      // border: 2px solid $goodsgrayeband
      margin: 0 10px
    .slick-current
      img
      opacity: 0.5
    img
      width: 50px
      height: 50px
      padding: 10px
      background-color: $black
      +centered-inside
      +breakpoint(medium doun)
        padding: 0
      @media #{$small-only}
        width: 200px
        height: 200px
        padding: 0






#sliderBX
  // height: 100px
  // background: #ddd
  margin-left: 0px
  transition: margin .2s ease-in-out
  // padding: 10px

#sliderBX-contenedor
  width: 100%
  overflow-x: hidden
  overflow-y: hidden
  position: relative

#btnSliderNext i, #btnSliderPrev i
  padding-top: 6px

#btnSliderNext, #btnSliderPrev
  position: absolute
  background: $black
  z-index: 2
  width: 15px
  height: 15px
  padding: 0px
  text-align: center

#btnSliderNext:hover, #btnSliderPrev:hover
  cursor: pointer
  background: black

#btnSliderNext
  position: absolute
  right: 5px

#btnSliderPrev
  position: absolute
  right: 25px

.sliderBXcell
  width: 335px
  display: inline-block
  float: left
  @media #{$small-only}
    width: 300px
  p
    padding-top: 40px

#sliderBX .sliderBXcell
  padding: 10px
  &:nth-child(odd)
    // height: 100px
    // background: #f2f2f2
    display: inline-block
    float: left
  &:nth-child(even)
    height: 100px
    // background: #ddd
    display: inline-block
    float: left
