// .bx-wrapper, .bx-viewport
//   height: 100%
//   width: 100%
//   li
//     height: 100%
//   ul
//     list-style: none
.mainlidet,.mainlidet-small
  padding: 10px 0
  position: relative
  li
    height: 60vh
    position: relative
    &::before
      display: none
  .next-btn, .prev-btn
    height: 80px
    width: 80px
    background-color: $black
    z-index: 10
    +y-align
  .prev-btn
    left: 20px
  .next-btn
    right: 20px
  .content-baner
    +y-align
    left: 100px
  .tex-baner
    z-index: 2
    h4
      font-size: 45px
      text-transform: uppercase
      padding-bottom: 45px
      letter-spacing: 3px
    p
      font-size: 22px
      padding-bottom: 25px
.mainlidet-small
  .content-baner
    left: 0
    text-align: center
    // top: 200px
    +x-align
  +breakpoint(small only)
    .content-baner
      top: 50px
      h4
        font-size: 30px
