.tovars
  padding-top: 200px
  nav .drop-down
    overflow: hidden
    margin: 0 auto
    text-align: center
    -webkit-transition: height 0.3s ease
    transition: height 0.3s ease
    position: relative
    width: 200px
    margin-left: -70px
    margin-top: 5px
    &.closed
      height: 35px
    li
      list-style: none
    // a
    //   width: 200px
    //   position: absolute
    //   margin-left: -111px
    .down
      margin-top: -20px
