.main
  .tovars
    position: relative
    .tovars-producers-tex
      margin: 0 auto 50px
      width: 100%
      max-width: 100%
      padding-bottom: 20px
      font-size: 25px
      font-weight: 600
      text-transform: uppercase
    .aasd
      display: flex
      align-items: flex-start
      flex-wrap: wrap

    .one-tovar
      height: 400px
      width: 33.3%
      padding-right: 20px
      line-height: 1.7
      li
        &:before
          top: 11px
      &:nth-child(3n)
        padding-right: 0
      &.opened
        height: 550px
        .tovars-list
          ul
            &:before
              display: none
            li
              &:nth-child(n+5)
                // opacity: 1
                display: block
        .list-arrow
          svg
            +rotate(180deg)
      .tovars-top-box
        position: relative
        // padding-bottom: 40%
        height: 200px
        cursor: pointer
        border: 1px solid $grayBg
        .tex-tovar
          +y-align
          z-index: 2
          left: 50px
          text-transform: uppercase
      .tovars-list
        position: relative
        color: $gray
        font-size: 15px
        ul
          padding-top: 25px
          padding-left: 25px
          li
            +transition(.3s)
            &:nth-child(n+5)
              // opacity: 0
              display: none
          &:before
            content: ""
            position: absolute
            width: 100%
            height: 20px
            z-index: 1
            bottom: 0
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 84%, rgba(255,255,255,1) 100%)
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 84%,rgba(255,255,255,1) 100%)
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 84%,rgba(255,255,255,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
      .list-arrow
        padding-top: 25px
        position: relative
        display: inline-block
        left: 50%

        svg
          +transition(.3s)
          height: 30px
      +breakpoint(medium only)
        width: 50%
      +breakpoint(small only)
        width: 100%
  .varieties
    padding: 100px 0
    position: relative
    background-color: $grayBg
    .one-list-box
      height: 450px
      position: relative
      margin-bottom: 25px
      &.hover-list
        &:hover
          #rotate2
            +rotate(-90deg)
          .list-comntainer
            +translate(-100%,0)
          .hover-list-box
            pointer-events: initial
      .img-bg
        // background-size: contain
        background-position: 0
      #rotate2
        display: inline-block
        position: relative
        bottom: -90%
        right: -90%
        z-index: 5
        +transition(.3s)
        svg
          height: 30px
      .hover-list-box
        pointer-events: none
        +transition(.5s)
      .list-comntainer, .hover-list-box
        background-color: $blue
        width: 50%
        position: absolute
        top: 0
        right: 0
        bottom: 0
        color: $white
        +transition(.5s)
        &.destreb
          background-color: $green
          color: $gray
        &.marcet
          background-color: $red
          color: $white
        &.logic
          background-color: $orange
          color: $gray
        h3
          padding: 50px 0 0 50px
          font-size: 25px
          font-weight: 500
          word-spacing: .7em
          letter-spacing: 3px
        ul
          padding: 50px
          list-style: square outside
          li
            padding-bottom: 15px
            cursor: pointer

  .new-producers
    padding: 150px 0
    position: relative
    .new-producers-tex
      margin: 0 auto 50px
      width: 100%
      max-width: 100%
      padding-bottom: 20px
      font-size: 25px
      font-weight: 600
      text-transform: uppercase
    .border-producers
      margin-bottom: 30px
      .one-new-producers
        border-style: solid
        border-color: $grayBg
        border-width: 1px 1px 0px 1px
        position: relative
        padding-bottom: 100%
        cursor: pointer
    .one-item-block
      &:before
        bottom: 25px
    .img-bg
      background-size: contain
      left: 60px
      right: 60px
    .btn-big
      display: block
      width: 255px
      margin: 50px auto 0
    +breakpoint(medium down)
      padding: 20px 10px
  .tradergram-wrapper
    background-color: $grayBg
    padding: 200px 0
    position: relative
    .comand-tradergram
      text-align: center
      margin: 0 auto 50px
      width: 1100px
      max-width: 100%
      h2
        padding-bottom: 40px
        font-size: 30px
        font-weight: 600
        text-transform: uppercase
      p
        color: $gray
    .one-tradergram-box
      position: relative
      padding-bottom: 100%
      cursor: pointer
    .tradergram-text
      padding: 20px 0
      cursor: pointer
      h3
        font-size: 16px
        font-weight: 600
        word-spacing: .2em
        line-height: 1.5
      p
        font-size: 12px
        word-spacing: .2em
        line-height: 1.5
        color: $gray

    .btn-big
      display: block
      width: 255px
      margin: 50px auto 0
    +breakpoint(medium down)
      padding: 20px 0

  .about-product
    display: flex
    padding-bottom: 150px
    padding-top: 150px
    .about-box
      padding-top: -50px
      display: flex
      justify-content: center
      align-items: center
    .text-about-product
      margin-right: 100px
      h2
        padding-bottom: 30px
        font-size: 40px
        word-spacing: 3em
        text-transform: uppercase
      p
        font-size: 16px
        font-family: OpenSans
        font-weight: 100
        word-spacing: .2em
        line-height: 1.5
        color: $gray
    .btn-big
      margin-top: 30px
    .img-target
      padding-bottom: 140%

    +breakpoint(medium down)
      padding: 20px 0
      .about-box
        display: block
      .text-about-product
        text-align: center
        margin-right: 0px
      .btn-big
        margin-bottom: 20px

  .apply
    display: flex
    justify-content: center
    align-items: center
    background-color: $grayBg
    padding: 200px 0
    .comand-apply
      flex-direction: column
      display: flex
      justify-content: center
      align-items: center
      .apply-taitle
        h2
          padding-bottom: 40px
          font-size: 30px
          font-weight: 650
          text-transform: uppercase
      .apply-text
        width: 50%
        text-align: center
        font-size: 16px
        font-family: OpenSans
        font-weight: 100
        word-spacing: .2em
        line-height: 1.5
        color: $gray
        padding-bottom: 70px
    +breakpoint(medium down)
      padding: 20px 0
      .comand-apply
        .apply-text
          width: 100%
