.premium
  padding-top: 200px
  background-color: $grayBG
  .tab
    button

  /* Style the buttons inside the tab

  /* Change background color of buttons on hover

  /* Create an active/current tablink class

  /* Style the tab content

  .tabcontent
    display: none
    padding: 6px 12px
    border: 1px solid #ccc
    border-top: none
