.producer, .distributors, .marcet
  padding-top: 200px
  background-color: $grayBG
  nav .drop-down
    overflow: hidden
    margin: 0 auto
    text-align: center
    -webkit-transition: height 0.3s ease
    transition: height 0.3s ease
    position: relative
    width: 200px
    margin-left: -70px
    margin-top: 5px
    &.closed
      height: 35px
    li
      list-style: none
    .down
      margin-top: -20px
  .topgoods
    background-color: $goodsYellow
    height: 45vh
    padding: 50px 20px 10px 2px
    margin-left: -30px
    .topgoods-tex
      top: -20px
      &:before
        height: 1px
      .title
        color: $black
        font-size: 22px
        font-weight: 600
        left: 10px
        display: inline-block
        padding-left: 20px
  .one-new-producers
    border-style: solid
    border-color: $grayBg
    border-width: 1px 1px 0px 1px
    position: relative
    padding-bottom: 70%
    cursor: pointer
    background: white
    .img-bg
      background-size: contain
      left: 60px
      right: 60px
  .sales
    background-color: $goodsYellow
    height: 40vh
    padding: 35px 20px 10px 2px
    margin-left: -30px
    .sales-leaders
      &:before
        height: 1px
        bottom: 25px
        background-color: $black
      .title
        padding-left: 20px
        font-weight: 600
        text-transform: uppercase
        padding-bottom: 40px
      .description-txt
        padding: 0 20px
        .maker
          color: $blue
  .salse-text
    padding-top: 30px
    &:before
      height: 1px
      background-color: $black
      bottom: 25px
    .title
      font-weight: 600
      text-transform: uppercase
      padding-bottom: 40px
  .recomendation-tovars
    background-color: $almostWhite
    height: 40vh
    padding: 35px 20px 10px 2px
    margin-left: -30px
  .salse-all
    padding-top: 30px
    padding: 35px 20px 10px 2px
    margin-left: -30px
    .description
      background-color: white
      .description-txt
        padding: 0 20px
        .maker
          font-size: 13px
          padding: 25px 0 10px
          cursor: pointer
          color: $blue
          &:hover
            color: $yellow
        .product-name
          color: $black
          font-size: 17px
          padding-bottom: 20px
  .border-producers
    .description
      background-color: white
      .description-txt
        padding: 0 20px
        .maker
          font-size: 13px
          padding: 25px 0 10px
          cursor: pointer
          color: $blue
          &:hover
            color: $yellow
        .product-name
          color: $black
          font-size: 17px
          padding-bottom: 20px
