.registration
  padding-top: 200px
  background-color: white
  .title-top
    text-align: center
    font-size: 34px
    font-weight: 600
    text-transform: uppercase
    padding: 50px 0
  .taitle-contacts
    font-size: 26px
    text-transform: uppercase
    padding: 20px 0
    font-weight: 600
    &:before
      height: 3px
      bottom: 15px
  .wrapper-tab
    padding: 30px 0
    display: flex
    .taitle
      display: flex
      align-items: center
      justify-content: center
      .text-taitle
        font-size: 16px
        font-weight: 600
    .targer
      padding-left: 70px
      button
        display: inline-block
        cursor: pointer
        text-transform: uppercase
        font-weight: 600
        padding: 0px 30px
        font-size: 12px
        letter-spacing: .25em
        color: $black
        background-color: white
        text-align: center
        line-height: 35px
        border-radius: 50px
        border: 2px solid $blue
        +transition(.7s)
        &.active
          background-color: $blue
        &.green
          border: 2px solid $green
          &.active
            background-color: $green
        &.red
          border: 2px solid $red
          &.active
            background-color: $red
        &.orange
          border: 2px solid $orange
          &.active
            background-color: $orange
  #goods,
    display: block
  .tabcontent
    display: none
    .form-group
      display: flex
      padding: 30px 0
      .lable-one
        width: 25%
        display: flex
        align-items: center
        .label
          font-size: 16px
          font-weight: 600
      select
        width: 75%
        height: 60px
        background-color: $input
        font-size: 20px
        padding-left: 20px
      .text-input
        height: 60px
        width: 75%
        background-color: $input
        font-size: 20px
        border: 1px solid $gray
        padding-left: 20px
      textarea
        padding: 20px 0 0 20px
        width: 75%
        height: 300px











    ///foto style
  .clearfix
    overflow: auto

  .dropzone
    position: relative
    height: 300px
    border: 2px dashed #b3b3b3
    border-radius: 4px
    background-color: $input
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    display: flex
    flex-flow: column
    align-items: center
    justify-content: center
    .msg
      padding: 10
      font-size: 25px
      font-weight: 600
      color: $black
    .msgbotom
      padding: 10px 0 20px 0
      .span-text
        text-decoration: underline
        color: $black
        font-weight: 400
        cursor: pointer
        transition: 1s
        &:hover
          color: $yellow
    .msgshadov
      color: $black
      font-size: 13px
    .svgo
      height: 100px
      width: 110px
      background-image: url(#{asset_path('photo/main/place-here.png')})
      background-repeat: no-repeat

  input.fileUpload
    display: none

  .preview
    display: flex
    flex-wrap: wrap
    margin: 10px 0
    padding: 5px

  .previewData img
    width: 100px
    height: 100px
    float: left
    margin: 5px

  .previewDetails
    display: inline-block
    float: left
    margin: 5px
    padding: 8px

  .detail
    font-family: arial
    padding: 5px
    overflow: hidden
    max-width: 200px
    text-overflow: ellipsis
    white-space: nowrap

  .previewControls
    display: inline-block
    float: left
    margin: 40px 30px

  .circle
    border: 2px solid #5B93F5
    border-radius: 20px
    display: inline-block
    height: 25px
    width: 25px
    margin: 5px
    cursor: pointer
    color: #5B93F5
    &.remove:hover
      border: 2px solid red
      i.fa-close
        color: red
    i
      position: relative
      font-size: 14px
      &.fa-check
        top: 3px
        left: 5px
      &.fa-close
        top: 2px
        left: 7px
  .target
    width: 75%



.photo-upload
  height: auto
  margin: 20px 0
  position: relative
  text-align: center
  width: 100%
  .input-file
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    width: 0.1px
    z-index: -1
