.tradergram
  padding-top: 200px
  background-color: white
  +breakpoint(medium doun)
    padding-top: 100px
  .tutle
    font-size: 34px
    font-weight: 600
    text-align: center
    padding: 50px 0
    text-transform: uppercase
  .wrapper-tab
    .tab
      +breakpoint(medium doun)
        display: flex
        flex-wrap: wrap
        align-content: flex-start
      .tablinks
        .tablist-content
          cursor: pointer
          display: flex
          padding: 10px 0
          @media screen and (max-width: 1025px)
            display: block
          .img-bg
            height: 150px
            width: 150px
            position: relative
          .tex
            padding-left: 15px
            width: 70%
            align-self: center
            .tab-text
              font-size: 18px
              font-weight: 600
              line-height: 25px
              transition: 1s
            .tab-data
              font-size: 14px
              color: $gray
          &:hover
            .tex
              .tab-text
                text-decoration: underline
                color: $yellow
  #goods
    display: block
  #distributors, #marker
    display: none
  .tabcontent
    padding: 6px 12px
    .center-tab-all
      .content-tab
        position: relative
        padding-bottom: 100%
        .content-img
          .img-bg
            padding-bottom: 100%
      .text-tovar
        padding: 50px 60px
        .smole-taitle
          font-size: 18px
          font-weight: 600
          line-height: 25px
        .tab-data
          padding: 10px 0 40px
          font-size: 14px
          color: $gray
        .tex-abaut-tovar
          font-size: 14px
          color: $gray
          word-spacing: .2em
          line-height: 20px
          padding-bottom: 20px
        .rede-more
          font-size: 16px
          color: $blue
          cursor: pointer
          font-weight: 600
          &:hover
            color: $yellow
  .nues-alle
    padding-top: 100px
    .ful-nues
      cursor: pointer
      padding-bottom: 60px
      &:hover
        color: $yellow
      .img-nues
        position: relative
        padding-bottom: 100%
      .text-nues
        padding-left: 15px
        .title-nues
          padding: 15px 0
          font-size: 16px
          font-weight: 600
          word-spacing: .2em
          transition: 1s
          line-height: 25px
        .tab-data
          font-size: 14px
          color: $gray
          word-spacing: .2em
          line-height: 20px
